Source: expcoin
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@expcoin.org>
Uploaders: Holger Schinzel <holger@expcoin.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.35),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.35),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.35),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.35),
 libboost-test1.48-dev | libboost-test-dev (>> 1.35),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.35),
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Standards-Version: 3.9.2
Homepage: https://www.expcoin.org/
Vcs-Git: git://github.com/expcoincoin/expcoin.git
Vcs-Browser: https://github.com/expcoincoin/expcoin

Package: expcoind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Expcoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Expcoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Expcoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, expcoind, and the CLI tool
 expcoin-cli to interact with the daemon.

Package: expcoin-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Expcoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Expcoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Expcoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Expcoin-Qt, a GUI for Expcoin based on Qt.

Package: expcoin-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Expcoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Expcoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Expcoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides expcoin-tx, a command-line transaction creation
 tool which can be used without a expcoin daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
