[Desktop Entry]
Encoding=UTF-8
Name=Expcoin
Comment=Expcoin P2P Cryptocurrency
Exec=expcoin-qt %u
Terminal=false
Type=Application
Icon=expcoin128
MimeType=x-scheme-handler/expcoin;
Categories=Office;Finance;
Name[en_US]=expcoin-qt.desktop
